@media screen and (max-width: 768px) {
  li {
    margin: 0 0.5rem;
  }

  .landing-text h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
  }

  .timeline ul {
    margin-left: 25%;
  }

  .timeline .date:after {
    left: -6.1rem;
  }
}

@media screen and (max-width: 480px) {
  nav .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.1rem;
    text-align: center;
  }

  .landing-text {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin: 0 auto;
    width: 100%;
  }

  .section-heading h1 {
    font-size: 2.5rem;
  }

  .section-heading h1:before {
    bottom: 0;
  }

  .section-heading h1:after {
    bottom: -0.25rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin: 0 0 1.5rem 0;
  }

  .portfolio-description {
    margin: 0;
    order: 1;
  }

  .timeline .date:before {
    left: -18.5rem;
  }

  .timeline .date:after {
    left: -5.65rem;
  }

  form {
    width: 100%;
  }
}
