/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #eee;
  width: 100%;
  height: 100%;
  background: url("/resources/img/background.jpg") no-repeat center fixed;
  background-size: cover;
}

section {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.section-heading h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.section-heading h1:before,
.section-heading h1:after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h1:before {
  width: 10rem;
  height: 4px;
  border-radius: 0.8rem;
  background-color: black;
}

.section-heading h1:after {
  width: 0.8rem;
  height: 0.8rem;
  bottom: 0;
  border-radius: 30%;
  background-color: #eee
}

.section-heading h6 {
  font-size: 1rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 3rem;
}
/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

header {
  width: 100%;
  height: 100vh;
}

nav {
  margin: 50px 20px;
}

.list {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 1.5rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: background 250ms;
}

.nav-link:hover,
.nav-link:focus {
  background: black;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  z-index: 1;
}

.landing-text h1 {
  font-size: 5rem;
  font-family: "Pacifico", cursive;
}

.landing-text h6 {
  font-weight: 300;
  font-size: 1rem;
}

/* ---------------------------------------------- */
/* ABOUT */
/* ---------------------------------------------- */

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 5rem;
}

.about-heading h1 {
  font-size: 6rem;
  opacity: 0.5;
}

.about-heading h6 {
  font-size: 1.7rem;
  font-weight: 200;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 2rem;
}

.social-media .list {
  justify-content: space-between;
}

.social-media i {
  font-size: 2rem;
  padding: 0 0.4em;
  transition: background 250ms;
}

.social-media i:hover {
  background: black;
}

/* ---------------------------------------------- */
/* SKILLS */
/* ---------------------------------------------- */

.my-skills {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.icon-container {
  width: 8rem;
  height: 8rem;
  border: 5px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-bottom: 0.5rem;
  transform: rotate(45deg);
}

.icon-container i {
  color: black;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/* ---------------------------------------------- */
/* PORTFOLIO */
/* ---------------------------------------------- */

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
}

.portfolio-description .cta {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transform: translateX(-1rem);
  transition: background 250ms;
}

.portfolio-description .cta:hover {
  background: black;
}

/* ---------------------------------------------- */
/* EXPERIENCE */
/* ---------------------------------------------- */

.timeline ul {
  border-left: 4px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 18%;
  position: relative;
  padding: 4rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.timeline .date {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date:before,
.timeline .date:after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -20rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
  border-radius: 100%;
  left: -114px;
  height: 1rem;
  width: 1rem;
  background-color: #313534;
}

/* ---------------------------------------------- */
/* CONTACT */
/* ---------------------------------------------- */

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: black;
  outline-width: 4px;
  outline-style: solid;
}

input[type="submit"] {
  width: initial;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: background-color 250ms;
}

input[type="submit"]:hover {
  background-color: black;
  color: #eee;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */

.copyright {
  margin-top: 5rem;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;
  position: relative;
}

.copyright p {
  text-align: center;
}

.up {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  top: -1.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  transition: background 250ms;
  animation: pulse 2s infinite;
}

.up i {
  color: black;
  font-size: 1.5rem;
  margin: auto;
}

.up:hover {
  background: black;
}

.up:hover > i {
  color: #eee;
}
