/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #eee;
  width: 100%;
  height: 100%;
  background: url("/resources/img/background.jpg") no-repeat center fixed;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

header {
  width: 100%;
  height: 100vh;
}

.nav-list {
  margin-top: 40px;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  background: black;
}

.mobile-nav-icon {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 2rem;
  color: #fff;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 5rem;
  font-family: "Pacifico", cursive;
}

.landing-text h6 {
  font-weight: 300;
  font-size: 1rem;
}

/* ---------------------------------------------- */
/* ABOUT */
/* ---------------------------------------------- */

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 5rem;
}

.about-heading h1 {
  font-size: 6rem;
  opacity: .5;
  line-height: 0;
}


