/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #eee;
  width: 100%;
  height: 100%;
  background: url("/resources/img/background.jpg") no-repeat center fixed;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 15rem;
}

.section-heading h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.section-heading h1:before,
.section-heading h1:after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h1:before {
  width: 10rem;
  height: 4px;
  border-radius: 0.8rem;
  background-color: black;
}

.section-heading h1:after {
  width: 0.8rem;
  height: 0.8rem;
  bottom: 0;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h6 {
  font-size: 1rem;
  font-weight: 300;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

header {
  width: 100%;
  height: 100vh;
}

nav {
  margin: 50px 20px;
}

.list {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 1.5rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  background: black;
}

.mobile-nav-icon {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 2rem;
  color: #fff;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 5rem;
  font-family: "Pacifico", cursive;
}

.landing-text h6 {
  font-weight: 300;
  font-size: 1rem;
}

/* ---------------------------------------------- */
/* ABOUT */
/* ---------------------------------------------- */

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 5rem;
}

.about-heading h1 {
  font-size: 6rem;
  opacity: 0.5;
}

.about-heading h6 {
  font-size: 1.7rem;
  font-weight: 200;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 3rem;
}

.social-media i {
  font-size: 2rem;
  padding: 0 0.4em;
}

.social-media i:hover {
  background: black;
}

/* ---------------------------------------------- */
/* ABOUT */
/* ---------------------------------------------- */

.my-skills {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 8px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: black;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg)
}
